.landing {

    width: min(900px, 90%);

    margin: 0 auto;

    min-height: calc(100vh - 100px);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 2rem;
}

.landing h1 {

    font-size: clamp(3rem, 8vw, 5rem);

}

.landing p {

    font-size: 1.2rem;

    max-width: 650px;

    color: #6a645d;

}